@font-face {
	font-family: 'iconfont';  /* project id 1836754 */
	src: url('//at.alicdn.com/t/font_1836754_fo53eltfmei.eot');
	src: url('//at.alicdn.com/t/font_1836754_fo53eltfmei.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_1836754_fo53eltfmei.woff2') format('woff2'),
	url('//at.alicdn.com/t/font_1836754_fo53eltfmei.woff') format('woff'),
	url('//at.alicdn.com/t/font_1836754_fo53eltfmei.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_1836754_fo53eltfmei.svg#iconfont') format('svg');
}

.iconfont{
    font-family: "iconfont" !important;
	font-size: 30px;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}

.iconfont:hover {
    color: #007fff;
}

.main-page {
    width: 60vw;
    margin: 0 auto;
}

.header-div {
	height: 8vh;
	font-size: 30px;
	display: flex;
	justify-content: space-between;
}

.input-div {
	display: flex;
	justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: #ccc .5px solid;
}

.input-and-alertspan {
	width: 80%;
}

.body-div {
	height: 87vh;
}

.footer-div {
	height: 5vh;
	text-align: center;
}

input {
	outline-style: none;
	border: .5px solid hsla(0,0%,59.2%,.2);
	border-radius: 3px;
	padding: 5px 0;
	padding-left: 5px;
	height: 1.5rem;
	text-size-adjust: auto;
	font-size: 20px;
	width: 50%;
}

input:focus {
	border: .5px solid #007fff;
}

input:hover {
	border: .5px solid #007fff;
}


/* .body-input {
	width: 40%;
} */

.wrong-input {
	border: .5px solid red !important;
}


.body-button {
	height: 4vh;
	border: 0px;
	border-radius: .3vh;
	cursor: pointer;
	background-color: #007fff;
	color: snow;
	padding: 0 .9rem;
	font-size: 1.167rem;
	text-align: center;
	outline: none;
}

.body-button:hover {
	background-color: #0876e4;
}

.tree-parent-div {
	height: 50%;
	overflow: auto;
	border-bottom: #ccc .5px solid;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.tree {
    height: 90%;
	width: 9999px;
	flex-basis: 800px;
}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
    width: 50%; 
    height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li span{
	border: 1px solid #ccc;

    width: 30px;
    height: 30px;
    text-decoration: none;
    line-height: 30px;

	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 13px;
    display: inline-block;
    
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

.alert-span {
	color: red;
}

.info-div {
	display: none;
	width: 5vw;
	height: 4vh;
	border: null;
	position:absolute;
	background-color: seashell;
	right:18vw;
	top:13vh; 
	font-size: .5vw;
	line-height:4vh;
	text-align:center;
}

.info-div-show {
	display: block;
}

.tree-result-div {
	overflow: auto;
}